body{
    margin:0;
    background-image: url(./nen.jpg);
    background-size:100% 100%;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: flex-end;
}
form{
    width:500px;
    height:400px;
    border-radius:10px;
    align-self: center;
    background-color: white;
    margin:0 3.5vw 0 0;
    box-shadow: 3px black;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 10px 15px 15px;
}
input{
    width:400px;
    height:50px;
    border-radius: 5px;
    border: rgb(211, 239, 232) solid;
    margin:0;
    font-size:25px;
    padding: 0 15px;
}
label {
    width:400px;
    display: block;
    font-size:25px;
    margin:20px 0 0 0;
    
}
button{
    width:200px;
    height:50px;
    background-color:rgb(248,239,234);
    font-size:25px;
    margin:30px 0 0 0;
    border-radius: 5px;
}
button:hover{
    background-color:rgb(202, 195, 191);
}
b{
    color:red;
    
}
@media screen and (max-width: 600px){
    form{
        min-width:90%;
        min-height:60%;
        margin:0;
    }
    
    body{
        justify-content: center;
    }
    input{
        width:85%;
        height:30px;
        border-radius: 5px;
        border: rgb(211, 239, 232) solid;
        margin:0;
        font-size:20px;
        padding: 0 15px;
    }
    label {
        width:85%;
        display: block;
        font-size:20px;
        margin:15px 0 0 0;
        
    }
}