body{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;

  }
  /*Phần định dạng menu*/
  #menu{
    width:100%;
    height:70px;
    display:flex;
    z-index: 3;
    justify-content:space-between;
    align-items: center;
    background-color:rgb(248,239,234);
  }
  .logo{
    width:150px;
    height:70px;
  }
  .muc-menu{
    display:flex;
    height:70px;
    min-width:200px;
    justify-self: center;
  }
  .muc-menu div{
    padding:20px;
    height:30px;
    
  }
  .muc{
    text-decoration: none;
    color:black;
    font-size: 23px;
    margin-top:16px;
    
  }
  
  .icon-menu {
    display:none;
    cursor: pointer;
    background-image: url(./menu-icon.png);
    height:70px;
    width:70px;
    background-size:100% 100%;
  }
  @media screen and (max-width: 810px) {
    .muc-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        min-width: 100px;
        min-height:300px;
        background-color: white;
        z-index: 3;
    }
  
    .icon-menu {
        display: block;
        order:-1;
        min-width:70px;
    }
    .muc-menu.show {
      display: flex;
    }
    #menu {
        align-items: center;
    }
    .muc-menu div:hover .dropdown-content {
      left: 133px;
      margin:0px;
    
    }
  }
  .dropdown-content {
    min-height:151px;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding:0;
  }
  .muc-menu div:hover .dropdown-content {
    display: block;
    position:fixed;
    padding:0;
  
  
  }
  .dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .search{
    min-width:200px;
    display:flex;
    align-items: center;
    margin-right:10px;
  }
  .search img{
    width:30px;
    height:30px;
  }
  input{
    width:150px;
  }
  .icon{
    margin:0 10px;
  }
  .icon:hover{
    background-color:rgba(0,0,0,0.2);
  }
  @media screen and (max-width: 380px) {
    
    .logo{
      width:80px;
      height:50px;
    }
    .search{
      width:150px;
    }
    input{
      width:100px;
    }
  
  }

/*Phần định dạng đường line ngay dưới menu*/ 
.line{
    display:flex;
    flex-direction: row;
    width:100%;
    height:35px;
    background-color: rgb(211, 201, 201);
    align-items: center;
    
}
a{
    text-decoration: none;
    color:black;
}


/*Phần tụi m code*/
.firstbox{
  width:95%;
  min-height:90vh;
  display:flex;
  flex-direction: row;
  
}

#largeImage{
  width:500px;
  height:auto;
  margin-top:10px;
}
#thongtin{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left:20px;
}
#thongtin b{
  font-size: 50px;
  margin-bottom:15px;
}
#thongtin p{
  color:red;
  font-size:40px;
}

#boxsize{
  display:flex;
  flex-direction: row;
  width:100%;
  align-items: center;
}
#thongtin #boxsize a{
  font-size:30px;
  min-width:10px;
}
.kt {
  min-width:50px;
  height:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:0 5px;
  background-color: rgb(248,239,234);
  font-size: 20px;
  transition: border 0.1s, filter 0.1s;
  border: 1px solid white;
}
.kt.selected {
  border: 1px solid black;
  filter: brightness(80%);
}
.thumbnail{
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  transition: border 0.1s, filter 0.1s;
  border-radius:5px;
  border: 1px solid white;
}
.thumbnail.selected {
  border: 1px solid black;
  filter: brightness(80%);
}
.mua{
  width:200px;
  height:70px;
  background-color: rgb(248,239,234);
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
}
@media screen and (max-width:820px){
  .firstbox{
    flex-direction:column;
    align-items: center;
  }
  #largeImage{
    width:90%;
  }
  #thongtin{
    align-self:flex-start ;
  }
  .thumbnail{
  width: 70px;
  height: 70px;
  }
}
@media screen and (max-width:820px){
  #thongtin b{
    font-size: 35px;
  }
}




.fafa{
   display: inline-block;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
   -wedkit-font-smoothing :antialiased;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
p{
  margin-top: 0;
  margin-bottom: 1rem;
}

.row {
  width:90%;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%
}
.taone{
  
  color: var(--shop-color-text);
  line-height: 1.45;
  font-size: 14px;
  background: #fff;
  
}
.kobiet{
  color: red;
}
.maukobiet{
  color: blue;
}
.giaca{
  color: black;
}

.h4{
  text-align: center; 
}

.bigbox{
  margin:0px 0 20px 0;
  display:flex;
  justify-content:space-around;
  width:80%;
  flex-wrap:wrap;
}
.smallbox{
  
  min-height:30vw;
  width:30%;
  margin-top:7px;
  border:solid;
  border-radius:5px;
  display:flex;
  flex-direction:column;
  align-items: center;
  transition: 0.2s ease-out;

}
.smallbox:hover{
  transform:scale(1.05);
}
.smallbox img{
  width:80%;
   height:auto;
    margin-top:5px
}
.smallbox a{
  font-size: 15px;
}
.smallbox p{
  margin: 0;
  font-size: 25px;
}
.smallbox b a{
  font-size: 25px;
  text-align: center;
}
@media screen and (max-width:600px) {
  .bigbox{
      flex-wrap:wrap;
      justify-content:space-around;
  }
  .smallbox{
      min-height:200px;
      width:150px;
  }
  .smallbox p{
    margin: 0;
    font-size: 18px;
  }
  .smallbox b{
    font-size: 20px;
    text-align: center;
  }
  #thoat{
    display:none;
  }
}
@media screen and (max-width:400px){
  .bigbox{
      width:100%;
  }
  .smallbox{
      min-height:180px;
      width:43%;
      margin-top:10px;
  }
  .smallbox a{
    font-size: 10px;
  }
  .smallbox p{
    margin: 0;
    font-size: 15px;
  }
  .smallbox b{
    font-size: 15px;
    text-align: center;
  }
  .line{
    display:none;
  }
  .container h3{
    font-size:25px;
  }
}



@media screen and (max-width:600px) {
  .product-description{
    font-size: 15px;
  }
  .h4{
    font-size: 15px;
  }
}
/*Phần định dạng thông tin phía dưới cùng*/
.foot{
  width:100%;
  display:flex;
  
  background-color:rgb(248,239,234);
}
.foot a{
  text-decoration: none;
  color:black;
}
.infor{
  width:400px;
  display:flex;
  flex-direction: column;
  margin-left:5px;
}
.foot img{
  width:300px;
  height:200px;
}
.foot b{
  font-size: 20px;
}
.foot p{
  font-size:15px;
  margin:5px 0;
}
.foot p b{
  font-size:15px;
}
.about{
  display:flex;
  flex-direction: column;
  margin:170px 20px 0 20px  ;

}
.about b{
  font-size:25px;
}
@media screen and (max-width: 500px){
  .foot img{
    width:150px;
    height:100px;
  }
  .foot b{
    font-size: 15px;
  }
  .infor{
    width:300px;
  }
  .foot p{
    font-size:12px;
    margin:5px 0;
  }
  .foot p b{
    font-size:12px;
  }
  .about b{
    font-size:17px;
  }
  .about{
    margin:70px 10px 0 10px  ;
  }
}
@media screen and (max-width: 480px){
  .logo{
    width:80px;
    height:50px;
  }
  .icon-menu {
    min-width:50px;
  }
  .icon{
    margin:0 3px;
  }
}
@media screen and (max-width: 380px) {
  .search{
    margin:0;
  }
}
@media screen and (max-width: 350px) {
  body{
    width:350px;
  }
}
